.navbar {
    display: flex;
    position: fixed;
    border-bottom: solid #000000 4px;
    background-color: #ffffff;
    width: 100%;
}

.toggle {
    display: none;
}

.navItems {
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: 4em;
}

.navItems a {
    margin: 0.5em 2em;
}

@media screen and (max-width: 900px) {
    .navItems.hide {
        height: 0px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    .toggle span {
        display: block;
        height: 2px;
        width: 20px;
        margin: 4px 0px;
        background-color: #000000;
    }
    
    .navItems {
        flex-direction: column;
        text-align: center;
        margin: 0px auto;
        height: 120px;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    .navItems a {
        margin: 0.3em;
    }

    .toggle {
        display: inline-block;
        margin: 0.5em 0em 0.5em 1em;
        width: 100%;
    }
}