.navbar {
    display: flex;
    position: sticky;
    border-bottom: solid black 3px;
    background-color: #ffffff;
    width: 100%;

}

.toggle {
    display: none;
}

.toggle span {
    display: block;
    height: 2px;
    width: 20px;
    margin: 4px 0px 4px 0px;
    background-color: black;
}

.navItems {
    display: flex;
    width: fit-content;
    margin-left: auto;
}

.navItems a {
    margin: 0.5em 4em 0.5em 0em;
}

@media screen and (max-width: 768px) {
    .hide {
        display: none;
    }
    
    .navItems {
        flex-direction: column;
        text-align: center;
        margin: 0px auto 0px auto;
    }

    .navItems a {
        margin: 0.3em;
    }

    .toggle {
        display: inline-block;
        margin: 0.5em 0em 0.5em 1em;
        width: 100%;
    }
}