.cardsProfissionais {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.profissional {
    border: solid black 4px;
    background-color: #23b5d3;
    width: 300px;
    margin: 0px 20px 0px 20px;
    border-radius: 30px;
    text-align: center;
    line-height: 2em;
}

.profissional img {
    width: 100%;
    object-fit: cover;
    border-radius: 26px 26px 0px 0px;
    border-bottom: 4px solid black;
}

.description {
    margin: 5%;
}

.description h2 {
    border-bottom: solid 2px black;
    padding-bottom: 0.5em;
}

.texto {
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: 0px auto 0px auto;
}

@media screen and (max-width: 900px) {
    .cardsProfissionais {
        flex-direction: column;
        align-items: center;
    }

    .profissional img {
        width: 40%;
        border-radius: 50% / 50%;
        border: solid white 4px;
        margin: 2%;
    }

    .profissional {
        border: solid 4px white;
        background-color: black;
        padding-top: 5%;
        margin-top: 2%;
        width: 90%;
    }

    .description {
        margin: 0%;
        padding: 2% 10% 2% 10%;
        border-radius: 0px 0px 25px 25px;
        color: #ffffff;
    }

    .description h2 {
        border-bottom: solid 2px white;
    }
}

@media screen and (max-width: 900px) {
    .cardsProfissionais {
        margin: 0px;
    }

    .profissional {
        width: 95%;
    }
}