.homeBody {
    display: flex;
    align-items: center;
    height: 90vh;
    background: url("../assets/dog.png") no-repeat right -30%;
    background-size: 80%;
}

.container {
    margin: 5%;
}

.findCaretakers {
    max-width: 560px;
    text-align: center;
    color: #000000;
}

.findCaretakers input {
    width: 90%;
    height: 2.5em;
    border-radius: 2em 2em 2em 2em;
    padding-left: 1em;
    border: solid 4px #000000;
}

#backgroundSquare {
    position: absolute;
    z-index: -1;
    height: 0%;
    width: 0%;
    left: 50%;
    border-bottom: 100vh solid #000000;
    border-right: 43vw solid #000000;
    border-left: 7vw solid transparent;
}

#backgroundSquare1 {
    position: absolute;
    z-index: -2;
    height: 0%;
    width: 0%;
    left: 46%;
    border-bottom: 100vh solid #066275;
    border-right: 40vw solid #066275;
    border-left: 10vw solid transparent;
}

@media screen and (max-width: 1200px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    
    .findCaretakers {
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        max-width: 660px;
    }

    .findCaretakers input {
        height: 3em;
    }

    .homeBody {
        background: none;
    }

    #backgroundSquare1 {
        display: none;
    }

    #backgroundSquare {
        border: none;
        height: 70vw;
        width: 70vw;
        left: 15vw;
        background-color: #000000;
        border-radius: 35vw;
    }
}

@media screen and (max-width: 900px) {
    #backgroundSquare {
        border: none;
        height: 85vw;
        width: 85vw;
        left: 7.5vw;
        border-radius: 42.5vw;
    }
}

@media screen and (max-width: 600px) {
    .homeBody {
        height: 100vh;
    }

    .findCaretakers input {
        width: 100%;
    }
}