body {
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #23b5d3;
}

a {
    text-decoration: none;
    color: black;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    border: 4px solid #000000;
    background-color: #23b5d3;
    color: #000000;
}

button:hover {
   transition: 0.1s;
    border: 4px solid #23b5d3;
    background-color: white;
    color: #23b5d3;
}

.whiteBackground {
    background: #ffffff;
    margin: 0px 30px 0px 30px;
    border-radius: 40px;
    border: solid black 4px;
}