.homeBody {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url("../assets/dog.png") no-repeat 24em 2em;
    background-size: 70em;
}

.container {
    justify-content: center;
    margin: 0em 3em 0em 3em;
    width: 100%;
}

.findCaretakers {
    width: 35em;
    text-align: center;
    color: black;
}

.findCaretakers input {
    width: 32em;
    height: 2.5em;
    border-radius: 2em 2em 2em 2em;
    padding-left: 1em;
    border: solid 4px black;
}

.circle {
    position: absolute;
    z-index: -1;
    height: 40em;
    width: 40em;
    background-color: black;
    border-radius: 50%;
    left: 50%;
    top: 10%;
}