h3 {
    font-size: 1.5rem;
    margin: 0.5em;
}

.footer {
    background-color: #000000;
}

.creator {
    padding: 25px;
    text-align: center;
    color: #ffffff;
}

.socialIcons {
    width: 40px;
    height: 40px;
    margin: 0px 5px 0px 5px;
    animation: noHover 0.2s none;
}

@keyframes noHover {
    0%{fill: #aaa}
    100%{fill: #fff}
}
.socialIcons:hover {
    fill: #aaa;
    animation: hovering 0.2s none;
}

@keyframes hovering {
    0%{fill: #fff}
    100%{fill: #aaa}
}

.creator img{
    width: 125px;
    border-radius: 50%;
    border: #ffffff solid 4px;
}