body {
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #23b5d3;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    position: sticky;
    border-bottom: solid black 3px;
    background-color: #ffffff;
}

.navItems {
    width: fit-content;
    margin: 0em 4em 0em auto;
    padding: 1em;
}

.navItems li {
    display: inline;
    margin: 0em 2em 0em 2em;
}

.homeBody {
    display: flex;
    align-items: center;
    height: 80vh;
    background: url("../assets/dog.png") no-repeat 20em 0em;
    background-size: 90%;
}

.circle {
    position: absolute;
    z-index: -1;
    height: 40em;
    width: 40em;
    background-color: black;
    border-radius: 50%;
    left: 50%;
    top: 10%;
}

.container {
    margin: 0% 4% 0% 4%;
    width: 100%;
}

.findCaretakers {
    width: 50%;
    text-align: center;
}

.findCaretakers input {
    width: 90%;
    height: 2.5em;
    border-radius: 2em 2em 2em 2em;
    padding-left: 1em;
    border: solid 3px black;
}